*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    color: #eee; 
    height: 100vh;
    background: #222; 
    font-family: system-ui,sans-serif;
}
button{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}
.btn{
    cursor: pointer;
}
a{
    color: unset;
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
li>a{
    display: block;
    padding: .5rem 1rem;
    /* border: 1px solid purple; */
}
#banner{
    height: 400px;
    background: #3335;
    position:relative;
}
#slider{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    /* border: 1px solid #777; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
#slider::-webkit-scrollbar{
    display: none;
}
.img{
    scroll-snap-align: center;
    height: 100%;
    flex: 0 0 100%;
    /* border: 2px solid rgb(0, 248, 21); */
    font-size: 500%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid #eee; */
    transition: scale .2s ease;
    
}
.img:hover{
    scale: 2;
}
#slider-btns{
    position: absolute;
    left: 20%;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    z-index: 1;
    height: 100px;
    width: 100px;

}
#slider-btns > a{
    height: .4rem;
    width: .4rem;
    display: inline-block;
    border-radius: .4rem;
    background-color: #444;
    transition: background-color .2s ease, width.2s ease;
}
#slider-btns>a:hover{
    background-color: #777;
}
#slider-btns> a.on{
    width:1rem;
    background-color: #ccc;
}
#books{
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    /* background-image: linear-gradient(violet, blue); */
    gap: .5rem;
}
#book-title{
    font-size: 180%;
    color: hsl(328, 100%, 38%);
    background-image: linear-gradient(to left,violet, blue);
    background-clip: text;
    color: transparent;
}
#book-author{
    color: #888;
}
#book-rating{
    font-size: 80%;
    margin-top: .7rem;
    /* color: #3b35e4; */
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: .5rem 1rem;
    width: fit-content;
    color: #ffd700;
    display: flex;
    align-items: center;
    gap: .5rem;
}
aside{
    border: 1px solid #555;
    border-radius: 24px;
    height:calc(100dvh - 4rem);
    width: 27dvw;
    position: fixed;
    right: 0;
    top: 0;
    margin: 2rem;
    transform: translateX(calc(100% + 2rem));
    transition: transform 150ms ease;
}
aside.view{
    transform: translateX(0);
}
section:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .5rem;
}
.close{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-image: url(close-outline.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    transition: background-color 150ms ease;
}
.close:hover{
    background-color: #3337;
}
section:nth-child(2){
    padding: 2rem;
    position: relative;
}
section:nth-child(2)>div:nth-child(1){
    font-size: 120%;
}
section:nth-child(2)>div:nth-child(2){
    opacity: .5;
}
section:nth-child(2)>div:nth-child(3){
    width: fit-content;
    padding: 1rem 0;
    background-image: linear-gradient(to right, goldenrod 90%, #444 0);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
section:nth-child(2)>div:nth-child(4){
    position: absolute;
    right: 20%;
    top: 50%;
    border: 1px solid purple;
    padding: .8rem .6rem;
    border-radius: 250px;
    font-size: 100%;
}

    